@media only screen and (max-width: 750px) {
    body {
        background-color: lightblue;
    }
}

@media screen and (min-width: 850px) {
    body {
        background-color: violet;
    }
}

@media screen and (min-width: 600px) {
    body {
        background-color: yellowgreen;
    }
    h1 {
        display: none;
    }
}

@media screen {
    
}