
p {
    color: lightgreen;
    background-color: salmon;
    padding: 40px 50px 60px 70px;
    border-color: blue;
    border-width: 5px;
    border-style: dashed;
}

.boxes {
    height: 100px;
    width: 100px;
    border: red 3px solid;
    background-color: salmon;
    position: sticky;
    top: 0px;
}